# Virtual Environments
chat-assistant/
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/

# Distribution
build/
dist/
*.egg-info/


# client secrets file
backend/client_secret.json
backend/token.json