requests
sseclient-py
fastapi
pydantic
sentence_transformers
langchain
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langchain_openai
langgraph
python-dotenv
pinecone
uvicorn
cachetools
pytz==2024.1

# AWS & Ingestion
boto3>=1.34.69
langchain-aws>=0.1.6
pymupdf>=1.24.4
python-multipart>=0.0.9
faiss-cpu