requests
sseclient-py
fastapi
pydantic
sentence_transformers
langchain
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langchain_openai
langgraph
python-dotenv
pinecone
uvicorn
cachetools
pytz
faiss-cpu